<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         syntaxCheck="true"
         verbose="true">
    <testsuites>
        <testsuite name="sitemap-bundle">
            <directory>Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">.</directory>
            <exclude>
                <directory suffix=".php">Tests</directory>
                <directory suffix=".php">vendor</directory>
                <file>sami.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
